 <%- include("header")%>


 
      <!-- ============================================================== -->
      <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
           
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      Library
                    </li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
          <!-- ============================================================== -->
          <!-- Start Page Content -->
          <!-- ============================================================== -->
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <form class="form-horizontal" action="/category/updateCategory" method="post" enctype="multipart/form-data">
                    <input type="text" hidden name="id" value="<%= categoryData.id %>">
                  <div class="card-body">
                    <h4 class="card-title">Update Category</h4>
                    <div class="form-group row">
                      <label
                        for="fname"
                      
                        class="col-sm-3 text-end control-label col-form-label"
                        >Category Name</label
                      >
                      <div class="col-sm-9">
                        <input
                          type="text"
                            name="categoryName"
                            value="<%= categoryData.categoryName %>"
                          class="form-control"
                          id="fname"
                          placeholder="Category Name Here"
                        />
                      </div>
                    </div>
             
                
                   
                    <div class="form-group row">
                      <label
                        for="cono1"
                        class="col-sm-3 text-end control-label col-form-label"
                        >Description</label
                      >
                      <div class="col-sm-9">
                        <textarea class="form-control" name="categoryDescription" > <%= categoryData.categoryDescription %> </textarea>
                      </div>
                    </div>
             
                    <img src="/<%= categoryData.categoryImage %>"  style="width: 100px;height: 100px;" alt="">
                  <div class="form-group row">
                   <br>
                    <label class="col-md-3">Upload FIle</label>
                    <div class="col-md-9">
                      <div class="custom-file">
                        <input
                          type="file"
                          name="categoryImage"
                          class="custom-file-input"
                          id="validatedCustomFile"
                          required
                        />
                        <label
                          class="custom-file-label"
                          for="validatedCustomFile"
                          >Choose file...</label
                        >
                        <div class="invalid-feedback">
                          Example invalid custom file feedback
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
                  <div class="border-top">
                    <div class="card-body">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            
          
            </div>
      
          </div>
          <!-- editor -->
        
          <!-- ============================================================== -->
          <!-- End PAge Content -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Right sidebar -->
          <!-- ============================================================== -->
          <!-- .right-sidebar -->
          <!-- ============================================================== -->
          <!-- End Right sidebar -->
          <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
    



 <%- include("footer")%>