<%- include("header") %>
  <div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
      <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
          <h4 class="page-title">Admin Details</h4>
          <div class="ms-auto text-end">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Library
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
      <!-- ============================================================== -->
      <!-- Start Page Content -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-0">Admin Table</h5>
            </div>
            <div>
              <form action="/admin/view_admin" class="px-5 my-3 d-flex">
                <input type="text" class="form-control " placeholder="Searching..." name="searchAdmin"
                  value="<%= search %>" id="searchAdminData" />
                <button type="submit" class="btn btn-success text-white">Search</button>
              </form>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Index</th>
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">message</th>
                  <th scope="col">City</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Qualification</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>

                <% adminData.map((ele,index)=>{ %>
                  <tr>
                    <td>
                      <%= index + 1 %>
                    </td>
                    <td>
                      <img src="/<%= ele.photo %>" width="50" height="50">
                    </td>
                    <td>
                      <%= ele.name %>
                    </td>
                    <td>
                      <%= ele.email %>
                    </td>
                    <td>
                      <%= ele.message %>
                    </td>
                    <td>
                      <%= ele.city %>
                    </td>
                    <td>
                      <%= ele.gender %>
                    </td>
                    <td>
                      <%= ele.qualification %>
                    </td>

                    <td>
                      <%= ele.status %>
                    </td>
                    <td>
                      <a href="/admin/delete/<%= ele.id%>" class="btn btn-danger">🗑️</a>
                      <a href="/admin/update/<%= ele.id%>" class="btn btn-warning">✏️</a>
                    </td>


                   
                  </tr>

                  <% }) %>
                    <tr>
                      <td colspan="9">
                        <a href="<%= page= Number(page) - 1 %>"> <button>Prev</button></a>

                        <a href="<%= page=Number(page) %>"><button>
                            <%= page=Number(page) %>
                          </button></a>
                        <button>Next</button>
                      </td>

                    </tr>

              </tbody>
            </table>
          </div>



        </div>
      </div>

    </div>


    <%- include("footer")%>