 <%- include("blogheader")%>

<div class="container p-2 my-4">

  
  <div class="blog-post text-dark ">
    <div class="row g-2">
        <% blog.map((ele,index)=>{  %>
        <div class="col-lg-4 col-md-2 col-sm-12 rounded-3 shadow p-2">
          <div class="img-div p-0 m-0">
            <img class="img-fluid" src="<%= ele.blogImage%>" alt="">
            <div class="">
              <div class="content row d-flex align-content-end">
                <div class="col-4 pe-0 w-full text-start"><%= ele.createdAt%></div>
                <div class="col-4 ps-0 text-start"><%= ele.category%></div>
                <div class="col-12">
                  <p class="text-primary p-0 m-0">
                  <%= ele.blogName%>
                  </p>
                </div>
                <div class="col-12 text-truncate">
                <%= ele.blogDesc%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</body>
 <%- include("blogfooter")%>